This script converts label format to name format in the choice sheet of a odk form

In [1]:
# path to the file
excel_file_name = "chronolgy.xlsx"
# target column to parse
target_column = "Chronology"

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(excel_file_name)

In [4]:
df.head(10)

                                       Chronology
0                     Stone Age (Southern Africa)
1               Early Stone Age (Southern Africa)
2              Middle Stone Age (Southern Africa)
3               Later Stone Age (Southern Africa)
4                       Oldowan (Southern Africa)
5                     Acheulean (Southern Africa)
6                     Acheuleen (Southern Africa)
7         Early Later Stone Age (Southern Africa)
8  Late Pleistocene Microlithic (Southern Africa)
9                                         Robberg

In [5]:
df.shape

(460, 1)

In [6]:
# assign the name of new column
new_column = target_column + "_coor"

In [7]:
# lower case and convert all non alphanumeric to underscores (preserves accented latin characters)
df[new_column] = df[target_column].str.lower().replace('[^a-zA-Z\d\u00C0-\u00FF]', '_', regex=True).to_frame()
df

                             Chronology                     Chronology_coor
0           Stone Age (Southern Africa)         stone_age__southern_africa_
1     Early Stone Age (Southern Africa)   early_stone_age__southern_africa_
2    Middle Stone Age (Southern Africa)  middle_stone_age__southern_africa_
3     Later Stone Age (Southern Africa)   later_stone_age__southern_africa_
4             Oldowan (Southern Africa)           oldowan__southern_africa_
..                                  ...                                 ...
455                   5th Century AD/CE                   5th_century_ad_ce
456                   4th Century AD/CE                   4th_century_ad_ce
457                   3rd Century AD/CE                   3rd_century_ad_ce
458                   2nd Century AD/CE                   2nd_century_ad_ce
459                   1st Century AD/CE                   1st_century_ad_ce

[460 rows x 2 columns]

In [8]:
 excel_file_name[:-5]

'chronolgy'

In [9]:
# export the reults to new file
new_file_name =  excel_file_name[:-5]+'_coor.xlsx'
df.to_excel(new_file_name, encoding='latin1')