This script converts label format to name format in the choice sheet of a odk form

In [ ]:
import pandas as pd

In [7]:
df = pd.read_excel('chronolgy.xlsx')

In [8]:
df.shape

(460, 1)

In [9]:
df2 = df.Chronology.str.lower().replace(' ', '_', regex=True).to_frame()
df2 = df2.Chronology.str.replace("/", "_").to_frame() #Replace "/" by "_"
df2

                             Chronology
0           stone_age_(southern_africa)
1     early_stone_age_(southern_africa)
2    middle_stone_age_(southern_africa)
3     later_stone_age_(southern_africa)
4             oldowan_(southern_africa)
..                                  ...
455                   5th_century_ad_ce
456                   4th_century_ad_ce
457                   3rd_century_ad_ce
458                   2nd_century_ad_ce
459                   1st_century_ad_ce

[460 rows x 1 columns]

In [10]:
# df2.Chronology.str.replace(r"\s+\(.*\)"," ")

In [11]:
df2.to_excel('chronology_corr.xlsx', encoding='latin1')